---
import Layer from './layer.astro';
import { FOREST_LAYERS } from '../../constants';
import type { ForrestLayerProps } from '../../utils/types.ts';
---

<div class="fixed h-full w-full">
  {
    FOREST_LAYERS.map(({ bgForestLayer, delay }: ForrestLayerProps) => (
      <Layer bgForrestLayer={bgForestLayer} delay={delay} />
    ))
  }
</div>
