---
interface Props {
  className: string;
}
---

<div
  class="flex h-[44px] w-auto items-center overflow-hidden rounded-xl bg-blue-700 px-2 py-1 transition duration-500 ease-in-out md:h-[48px]"
  id="container"
>
  <h2
    class={`transition-opacity duration-500 text-white font-sans text-xl md:text-4xl font-semibold capitalize`}
    id="animated-word"
  >
    Full Stack Developer
  </h2>
</div>

<style>
  .fade-out {
    opacity: 5%;
  }
</style>

<script>
  let currentIndex = 0;
  const words = [
    "Computer Scientist",
    "Web Wizard",
    "TypeScript Alchemist",
    "Tailwind Sorcerer",
    "Vim Enthusiast",
    "Caffeine-Fueled Coder",
    "Prolific Emoji Conjurer",
  ];
  const animatedWord = document.getElementById("animated-word");

  if (animatedWord) {
    setInterval(() => {
      animatedWord.classList.add("fade-out");
      setTimeout(() => {
        currentIndex = (currentIndex + 1) % words.length;
        animatedWord.textContent = words[currentIndex];
        animatedWord.classList.remove("fade-out");
      }, 500);
    }, 2000);
  }
</script>
