---
import Dock from '../../components/dock/index.astro';

interface Props {
  title: string;
  description: string;
}

const { title = 'Jay Pancholi', description = "Jay's Folio Website" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/memoji-face.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-WJ917F1D9E"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-WJ917F1D9E');
    </script>
  </head>
  <body>
    <main
      class="h-screen w-screen snap-y snap-mandatory overflow-auto overflow-x-hidden"
    >
      <slot />
      <Dock />
    </main>
  </body>
  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      scroll-behavior: smooth;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
