---
import Layout from '../../layouts/layout/index.astro';
import Experience from '../../components/resume/components/experience.astro';
import Profile from '../../components/resume/components/profile.astro';
import Intro from '../../components/resume/components/intro.astro';
import Freelance from '../../components/resume/components/freelance.astro';
import Contact from '../../components/resume/components/contact.astro';
import Pojects from '../../components/resume/components/projects.astro';
import Skills from '../../components/resume/components/skills.astro';
---

<Layout title="JP | About" description="Jay Pancholi | Muggle Born Dev">
  <div class="flex bg-neutral-900 px-5 pb-32 md:px-0">
    <div class="container mx-auto flex flex-col gap-6 md:flex-row">
      <div class="w-full animate-page-load pt-6 md:w-1/3 md:py-6" id="profile">
        <div class="sticky top-6 flex flex-col gap-6">
          <Profile />
          <Skills />
        </div>
      </div>
      <div
        class="flex w-full animate-page-load flex-col gap-6 opacity-0 md:w-2/3 md:py-6"
        style="animation-delay: 200ms;"
      >
        <Intro />
        <Experience />
        <Freelance />
        <Pojects />
        <Contact />
      </div>
    </div>
  </div>
</Layout>
