---
import Card from "../../../components/card/index.astro";
import Body from "../atoms/body.astro";
---

<Card className="flex flex-col gap-3 p-6">
  <h2 class="font-sans text-lg font-semibold text-white md:text-2xl">
    A little bit about me
  </h2>
  <Body
    content={"I'm Jay Pancholi, a Full Stack Developer based in Melbourne. I've always been passionate about crafting efficient and elegant solutions through code, which is why I enjoy software development so much. I find it incredibly fulfilling to build digital tools and experiences that are not only functional but also delightful to use. I believe that well-written code can simplify complexities and have meaningful impact on both developers and end users."}
  />
  <Body
    content="When I'm not coding, I enjoy computer gaming, hiking, and scuba diving, scuba is my absolute favorite way to unwind and explore the underwater. I'm also a bit of a keyboard enthusiast, constantly perfecting my setup, and I love optimizing my workflow with tools like LazyVim tmux. Whether it's diving into new technology or discovering a new, I'm always eager to take on new challenges and continuously improve, in my coding journey and in life."
  />
</Card>
