---
import Layout from '../layouts/layout/index.astro';
import Forest from '../components/forest/index.astro';
import { PATHS } from '../constants';
---

<Layout title="JP | 404" description="Jay Pancholi | Muggle Born Dev">
  <div class="relative flex h-screen w-screen bg-[#7bbeff]">
    <Forest />
    <div
      class="z-30 m-auto -mt-60 flex h-full w-4/5 flex-col items-center justify-center gap-3 text-[#011313] md:-mt-80 md:w-1/2"
    >
      <h1 class="animate-page-load text-9xl font-bold">404</h1>
      <h2 class="animate-page-load text-center text-xl font-semibold">
        You’ve ventured into the Forbidden Forest,<br /> where dangers lurk in every
        shadow.
      </h2>
      <span class="animate-page-load text-center text-xl font-medium">
        Return to safety by heading back to the <a
          class="border-b border-b-[#011313]"
          href={PATHS.home}>Home</a
        >
      </span>
    </div>
  </div>
</Layout>
