---
import Background from '../background/index.astro';
import Cauldron from './cauldron.astro';
---

<div class="relative flex flex-col w-full h-screen bg-black">
  <Background>
    <div
      class="m-auto -mt-8 flex h-full w-1/2 flex-col items-center justify-center gap-6 text-center"
    >
      <Cauldron height="120" width="120" />
      <h1
        class="animate-page-load font-sans text-lg font-semibold text-white opacity-0 md:text-2xl"
        style="animation-delay: 0.3s;"
      >
        Brewing some magic behind the scenes! This page is still under a
        powerful spell.
      </h1>
      <h2
        class="animate-page-load font-sans text-lg font-semibold text-white opacity-0 md:text-xl"
        style="
        animation-delay:
        0.6s;"
      >
        Check back soon for some muggle-born brilliance!
      </h2>
    </div>
  </Background>
</div>
