---
import { ChevronDown, ChevronUp } from "lucide-react";
import Background from "../background/index.astro";
interface Props {
  backgroundColor?: string;
  id?: string;
  nextSectionHref?: string;
  prevSectionHref?: string;
}

const { backgroundColor, id, nextSectionHref, prevSectionHref } = Astro.props;
---

<section
  class={`relative snap-start h-screen w-screen max-h-[-webkit-fill-available] flex flex-col overflow-hidden ${backgroundColor}`}
  style={{ backgroundColor }}
  id={id}
>
  <Background>
    <slot />
  </Background>
  {
    !!nextSectionHref && (
      <a
        class="absolute bottom-3 right-10 z-20 hidden h-8 w-8 animate-bounce cursor-pointer items-center justify-center scroll-smooth rounded-full border border-border text-border transition-all duration-300 hover:border-white hover:text-white md:flex"
        href={nextSectionHref}
      >
        <ChevronDown className="w-7 h-7" strokeWidth={1} />
      </a>
    )
  }
  {
    !!prevSectionHref && (
      <a
        class="absolute right-10 top-5 z-20 hidden h-8 w-8 animate-bounce cursor-pointer items-center justify-center rounded-full border border-border text-border transition-all duration-300 hover:border-white hover:text-white md:flex"
        href={prevSectionHref}
      >
        <ChevronUp className="w-7 h-7" strokeWidth={1} />
      </a>
    )
  }
</section>
