---
import Card from '../card/index.astro';
import Roles from '../roles/index.astro';
import { ArrowUpRight } from 'lucide-react';
---

<div
  class="relative flex h-screen w-screen animate-page-load flex-col items-center justify-center"
>
  <Card
    className="relative -mt-16 flex h-min w-auto flex-col flex-wrap items-center gap-3 p-3 md:gap-4 md:p-6"
  >
    <div class="flex flex-nowrap items-center gap-1">
      <h2 class="font-sans text-xl font-semibold text-white md:text-4xl">
        Bello, I'm
      </h2>
      <div class="flex h-min items-center rounded-xl bg-purple px-2 py-1">
        <h2 class="font-sans text-xl font-semibold text-white md:text-4xl">
          Jay Pancholi
        </h2>
        <img alt="memoji" src={'/memoji-face.png'} class="h-9 w-9" />
      </div>
    </div><div class="flex flex-nowrap items-center gap-1">
      <h2 class="font-sans text-xl font-semibold text-white md:text-4xl">
        I'm a
      </h2>
      <div class="flex items-center">
        <Roles
          className="font-sans text-xl font-semibold text-white md:text-4xl"
        />
      </div>
    </div>
    <div class="flex flex-nowrap items-center gap-1">
      <h2 class="font-sans text-xl font-semibold text-white md:text-4xl">
        Currently at
      </h2>
      <div class="flex h-min items-center rounded-xl bg-orange-400 px-2 py-1">
        <a
          class="cursor-pointer font-sans text-xl font-semibold text-white md:text-4xl"
          href="https://excopartners.com/"
        >
          Exco Partners
        </a>
        <ArrowUpRight className="text-white" size={28} strokeWidth={2} />
      </div>
    </div>
  </Card>
</div>
